tomorrow write logic for loop to work


functionality daalo ticket main and 

local storage and 

finally loop logic


------------------>>>  todo appended ko sahi karna hai








logic for loop 

How to use Pomodoro/ Tomato timers

    Decide task to be done set timers to 25 minutes for one "Pomodoro"
    Work on task until timer is complete
    After timer completion, put a checkmark on to-do list
    Take a 5 minutes short break
    After four "Pomodoro" take a long break
    Repeat to step 1
