
*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    /* text-wrap:wrap; */
}

body{
    background-color:	#5e0404;
    color: white;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    width: 100%;
}

.heading{
    font-size: 5rem;
    /* font-weight: 700; */
    box-shadow: 2px 2px 2px 1px;
    border: 1px solid rgb(135, 134, 134);
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 1%;
    background-color: rgb(58, 1, 1);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 27%;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    height: 100%;
    width: 23%;
    box-shadow: 2px 2px 2px 2px;
    font-size: 2rem;
}

.timer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.text{
    font-size: 4rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    padding: 1%;
    background-color: #efeff3;
    color: black;
}
.timerScreen{
    font-size: 10rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    padding: 2%;
    background-color: #efeff3;
    color: black;
}

.timerButtons{
    width: 22%;
    display:flex;
    justify-content: space-evenly;
    font-size: 4rem;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;
    padding: 1%;
    background-color: #efeff3;
    color: black;
}

@media screen and (max-width: 800px) {

    .header{
        height: 20rem;
        width: 100%;
    }
    
    .heading{
        font-size: 5rem;
        padding: 1%;
        margin-bottom: 1%;
    }
    
    .buttons{
        width: 100vw;
        height: 27%;
    }
    
    .item{
        height: 100%;
        width: 23%;
        font-size: 2rem;
        padding: 1%;
    }
    
    .timer {
        gap: 22px;
    }
    .text{
        font-size: 4rem;
        margin-top: 1%;
        padding: 2%;

    }
    .timerScreen{
        font-size: 11rem;
        padding: 2%;
    }
    
    .timerButtons{
        width: 42%;
        font-size: 4rem;
        padding: 2%;
    }


}

@media screen and (max-width: 620px) {
    
    html{
        height: 100vh;
        font-size: 10px;
    }


    .heading{
        font-size: 4rem;
        padding: 2%;
    }
    .header {
        height: 25vh;
    }

    .timer {
        height: 48vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .text {
        font-size: 4rem;
        margin-top: 6%;
        padding: 2%;
    }

    .timerScreen {
        font-size: 11rem;
        padding: 5%;
    }

    .timerButtons{
        font-size: 4.5rem;
        width: 56%;
        height: 16%;
    }

    .buttons {
        height: 35%;
    }
    .item{
        display: flex;
        width: 20%;
        height: 83%;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
    }
}


