:root {
  --divBackGroundColor: #191919;
}
* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  /* text-wrap:wrap; */
}

body {
  background-color: #e9e9e9f1;
  color: white;
}

.toastContainer{
  opacity: 0.4;
  position: fixed;
  z-index: 1;
}
.toast{
  display: none;
  position: fixed;
  font-weight: bolder;
  font-size: 3rem;
  top: 20rem;
  left: 25%;
  right: 25%;
  font-weight: bolder;
  background-color: #fffdfd;
  color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 26px 14px black;
}

.taostShow{
  display: block;
  opacity: 1;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 24rem;
  width: 100%;
  gap: 6%;
}

.heading {
  font-size: 5rem;
  box-shadow: 2px 2px 4px 1px black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0.5%;
  background-color: var(--divBackGroundColor);
}
.createTask {
  font-size: 2rem;
  height: 100%;
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;
  background-color: #004344;
  border: 2.5px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px black;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 30%;
  gap: 4%;
  
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  height: 100%;
  width: 23%;
  box-shadow: 2px 2px 4px 2px black;
  font-size: 2rem;
  background-color: var(--divBackGroundColor);
  color: white;
}

.main {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  gap: 40px;
  width: 30%;
}

.taskId{
  display: none;
}

.text {
  font-size: 3.5rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px;
  padding: 2%;
  background-color: var(--divBackGroundColor);
  /* color: black; */
}

.timerScreen {
  font-size: 10rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px;
  padding: 4%;
  background-color: var(--divBackGroundColor);
  /* color: black; */
}

.timerButtons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  font-size: 4rem;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px;
  padding: 1%;
  background-color: var(--divBackGroundColor);
  /* color: black; */
}

.todoBox {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 40%;
  border-left: 4px solid black;
  overflow-y: auto;
}

.modalContainer {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 56vh;
  /* width: 54vw; */
  position: fixed;
  top: 20%;
  left: 25%;
  right: 25%;
  z-index: 2;
  background-color: var(--divBackGroundColor);
  border: 2.5px solid black;
  border-radius: 10px;
  font-size: 3rem;
}
.modalPriority {
  width: 80%;
  height: 10%;
  border: 2.5px solid black;
  border-radius: 10px;
  font-size: 2rem;
}
.modalTask {
  width: 80%;
  height: 50%;
  border: 2.5px solid black;
  border-radius: 10px;
  font-size: 2rem;
}

.modalButton {
  height: 10%;
  width: 30%;
  border: 2.5px solid black;
  border-radius: 10px;
  background-color: white;
  font-size: 2rem;
}

.fa-plus {
  border: 2px solid black;
  padding: 2%;
  border-radius: 10px;
}
.taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: var(--divBackGroundColor);
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  gap: 4%;
  padding: 2%;
  color: black;
}

.priority {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 20%;
  width: 90%;
  background-color: #efeff3;
  font-size: 2rem;
  border: 2.5px solid black;
  border-radius: 10px;
}



.task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68%;
  width: 90%;
  background-color: #efeff3;
  font-size: 1rem;
  overflow: auto;
  border: 2.5px solid black;
  border-radius: 10px;
}

.checkBoxContainer {
  display: flex;
  gap: 15%;
  align-self: flex-end;
  height: 10%;
  width: 50%;
  font-size: 1.8rem;
  justify-content: flex-end;
  padding-top: 1%;
  color: rgb(224, 219, 219);
}

.customConfirm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  font-weight: bolder;
  font-size: 3rem;
  top: 20rem;
  left: 25%;
  right: 25%;
  font-weight: bolder;
  background-color: #ffd6d6;
  color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 26px 14px black;
  gap: 35px;
}

.textOfConfirm{
  height: 60%;
  width: 90%;
}

.confirmButtonsBox{
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-right: 5%;
}

.confirmButtons{
  background-color: var(--divBackGroundColor);
  padding : 1% 4% 1% 4%;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 1.4rem;
}

.fa-solid:hover{
  cursor: pointer;
}

.checkBoxContainer:hover{
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .header {
    height: 24rem;
    width: 100%;
  }

  .main{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
  }

  .heading {
    font-size: 5rem;
    padding: 1%;
    margin-bottom: 1%;
  }

  .createTask{
    width: 60%;
  }

  .buttons {
    width: 100vw;
    height: 27%;
  }

  .item {
    height: 100%;
    width: 23%;
    font-size: 2rem;
    padding: 1%;
  }

  .modalContainer{
    width: 90%;
    height: 64%;
    left: 5%;
  }
  .modalButton{
    width: 60%;
  }
  
  .timer {
    gap: 55px;
    align-self: center;
  }
  .text {
    font-size: 4rem;
    margin-top: 1%;
    padding: 2%;
    width: 26rem;
  }
  .timerScreen {
    font-size: 11rem;
    padding: 2%;
  }

  .timerButtons {
    width: 40vw;
    font-size: 4rem;
    padding: 4%;
  }

  .todoBox{
    margin-top: 5%;
    border: 0;
    width: 100%;
    margin-bottom: 2%;
  }

  .taskContainer{
    width: 54%;
    height: 22rem;
  }

  .priority{
    font-size: 2.5rem;
  }
  .task{
    font-size: 1.7rem;
  }
  .checkBoxContainer{
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 620px) {
  html {
    height: 100vh;
    font-size: 10px;
  }

  .heading {
    font-size: 4rem;
    padding: 2%;
  }
  .header {
    height: 22rem;
  }

  .timer {
    height: 48vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .createTask{
    width: 60%;
    padding: 1%;
  }
  .text {
    font-size: 4rem;
    margin-top: 6%;
    padding: 2%;
    width: 31rem;
  }

  .timerScreen {
    font-size: 11rem;
    padding: 5%;
  }

  .main{
    gap: 55px;
  }
  .timerButtons {
    font-size: 4.5rem;
    width: 50vw;
    height: 16%;
  }

  .buttons {
    height: 35%;
  }
  .item {
    display: flex;
    width: 20%;
    height: 83%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 1.19rem;
  }
  .taskContainer{
    /* font-size: 3rem; */
    width: 70%;
    height: 24rem;
  }

  .checkBoxContainer{
    height: 14%;
    font-size: 25px;
  }
}
